@{
    ViewData["Title"] = "Secretaria da Educação - Cidade X";
}
<div class="text-center">
    <h1 class="display-4">Portal de escolas e alunos da Secretaria da Educação da cidade X.</h1>
    <br/><br/>
                    <div>
                        <article>
                            <h3>Problema</h3>
                            <h4>Full	Stack Developer	- Case</h4>
                            <p align="justify"><b>Objetivo</b></p>
                            <p align="justify">
                                A prefeitura de uma cidade no interior do país está com dificuldades para controlar suas escolas públicas. Já existe um
                                controle feito em Excel para controle das escolas e suas turmas, porém, o cadastro está sempre obsoleto por não existir
                                um sistema centralizado de controle destes alunos. A prefeitura então nos contratou para desenvolver um sistema online
                                onde serão cadastradas as escolas públicas e suas respectivas turmas.
                                Foi especificado que o sistema será composto por 2 ferramentas: uma para listagem/cadastro das escolas, e outra para o
                                cadastro/listagem das turmas de cada escola.
                                O sistema deverá seguir os preceitos básicos da engenharia de software e Orientação a Objetos, com foco em qualidade,
                                beleza e usabilidade, bem como utilizar as bibliotecas javascript mais modernas do mercado:
                            <p align="justify"><b>Requisitos</b></p>
                            <ol>
                                <li align="justify">Idealmente o código deverá ser versionado e publicado para a apresentação.</li>
                                <li align="justify">Tecnologias/metodologias/princípios que, se utilizados, serão um diferencial na avaliação:</li>
                                    <ol>
                                        <li align="justify" type='i'>C# (.NET Core)</li>
                                        <li align="justify" type='i'>Angular 9+ ou superior</li>
                                        <li align="justify" type='i'>S.O.L.I.D. / Clean Code</li>
                                        <li align="justify" type='i'>Design Patterns</li>
                                        <li align="justify" type='i'>Bootstrap / Foundation / Metro / Etc</li>
                                        <li align="justify" type='i'>Responsividade / LESS / SASS</li>
                                        <li align="justify" type='i'>OO (Abstrações, Interfaces, Herança, Polimorfismo)</li>
                                        <li align="justify" type='i'>NHibernate / Entity</li>
                                    </ol>
                            </ol>
                        </article>
                        <br /><br />
                    </div>
</div>
